<p>About Time-Planer
    <br>
    Impressum und Offenlegung gemäß Mediengesetz (BGBl. Nr. 314/1981 i.d.g.F.) für die Website time-planer.com


    <ul class="collapsible container">
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Medieninhaber, Hersteller</div>
        <div class="collapsible-body"><span>
            <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Nils Brugger</span>
        <p><a href="mailto:nbrugger@student.tgm.ac.at">Email</a>
            </p>
</li>
<li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Linus Dehner</span>
    <p><a href="mailto:ldehner@student.tgm.ac.at">Email</a>
    </p>
</li>
<li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Ryan Foster</span>
    <p><a href="mailto:rfoster@student.tgm.ac.at">Email</a>
    </p>

</li>
<li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Tobias Schrottwieser</span>
    <p><a href="mailto:tschrottwieser@student.tgm.ac.at">Email</a>
    </p>

</li>
</ul>
        </span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Kontaktdaten</div>
        <div class="collapsible-body"><span>Entwicklerteam der Plattform <a href="mailto:support@time-planer.com">benachrichtigen</a>.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Webdesign und Webprogrammierung</div>
        <div class="collapsible-body"><span>
            Im Rahmen eines Semesterprojekts des dritten Jahrgangs des TGM haben die Schüler: Tobias Schrottwieser, Nils Brugger, Ryan Foster und Linus Dehner diese Plattform im Jahre 2019 entwickelt.

        </span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Grundlegende Richtung dieses Webportals</div>
        <div class="collapsible-body"><span>
            Diese Website ermöglicht die Erstellung einer Zeitplanung und informiert gleichzeitig über jene. Die Inhalte dieser Seiten sind urheberrechtlich geschützt, und die Informationen sind nur für die persönliche Verwendung bestimmt. Jede weitergehende Nutzung, insbesondere die Speicherung in Datenbanken, Veröffentlichung, Vervielfältigung und jede Form von gewerblicher Nutzung, sowie die Weitergabe an Dritte – auch in Teilen oder in überarbeiteter Form – ohne Zustimmung des Entwicklerteams ist untersagt.
        </span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Urheberrecht</div>
        <div class="collapsible-body"><span>
            Wir sind bestrebt, die Urheberrechte der verwendeten Inhalte und Medien zu beachten. Sollte sich dennoch ein durch fremdes Urheberrecht geschützter Inhalt befinden, so konnte das Urheberrecht von uns nicht festgestellt werden. Im Falle einer solchen unbeabsichtigten Urheberrechtsverletzung wird das entsprechende Objekt nach Benachrichtigung entfernt bzw. mit dem entsprechenden Urheberrecht kenntlich machen.
        </span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Haftungsausschluss</div>
        <div class="collapsible-body"><span>
            Wir sind bestrebt die Inhalte aktuell und korrekt zu halten. Sollten Sie Fehler oder Irrtümer auf der Site entdecken, bitten wir Sie, uns darüber in Kenntnis zu setzen. Wir übernehmen keine Gewähr für die Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen verursacht wurden, sind grundsätzlich ausgeschlossen. Die Schule, auf dessen Server diese Applikation läuft, kann weiters nicht gewährleisten, dass die online abrufbaren Dienste gewährleistet sind.
    Dieser Haftungsausschluss ist als Teil dieses Internetangebotes zu betrachten. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.</p>
        </span></div>
    </li>
</ul>
