<p>About Time-Planer
    <br>
    Impressum und Offenlegung gemäß Mediengesetz (BGBl. Nr. 314/1981 i.d.g.F.) für die Website www.tgm.ac.at.com/time-planer
    <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Nils Brugger</span>
<p>First Line <br>
    nbrugger@student.tgm.ac.at
</p>
</li>
<li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Linus Dehner</span>
    <p>First Line <br>
        ldehner@student.tgm.ac.at
    </p>
</li>
<li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Ryan Foster</span>
    <p>First Line <br>
        rfoster@student.tgm.ac.at
    </p>

</li>
<li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Tobias Schrottwieser</span>
    <p>First Line <br>
        tschrottwieser@student.tgm.ac.at
    </p>

</li>
</ul>
    1	Medieninhaber, Hersteller
    Tobias Schrottwieser
    E-Mail-Adresse:

    Nils Brugger
    E-Mail-Adresse:

    Ryan Foster
    E-Mail-Adresse:

    Linus Dehner
    E-Mail-Adresse:
    2	Kontaktdaten
    Entwicklerteam der Plattform.
    E-Mail-Adresse: info@time-planer.com
    3	Webdesign und Webprogrammierung
    Im Rahmen eines Semesterprojekts des dritten Jahrgangs des TGM haben die Schüler: Tobias Schrottwieser, Nils Brugger, Ryan Foster und Linus Dehner diese Plattform im Jahre 2019 entwickelt.
    4	Grundlegende Richtung dieses Webportals
    Diese Website ermöglicht die Erstellung einer Zeitplanung und informiert gleichzeitig über jene. Die Inhalte dieser Seiten sind urheberrechtlich geschützt, und die Informationen sind nur für die persönliche Verwendung bestimmt. Jede weitergehende Nutzung, insbesondere die Speicherung in Datenbanken, Veröffentlichung, Vervielfältigung und jede Form von gewerblicher Nutzung, sowie die Weitergabe an Dritte – auch in Teilen oder in überarbeiteter Form – ohne Zustimmung des Entwicklerteams ist untersagt.
    5	Urheberrecht
    Wir sind bestrebt, die Urheberrechte der verwendeten Inhalte und Medien zu beachten. Sollte sich dennoch ein durch fremdes Urheberrecht geschützter Inhalt befinden, so konnte das Urheberrecht von uns nicht festgestellt werden. Im Falle einer solchen unbeabsichtigten Urheberrechtsverletzung wird das entsprechende Objekt nach Benachrichtigung entfernt bzw. mit dem entsprechenden Urheberrecht kenntlich machen.
    6	Haftungsausschluss
    Wir sind bestrebt die Inhalte aktuell und korrekt zu halten. Sollten Sie Fehler oder Irrtümer auf der Site entdecken, bitten wir Sie, uns darüber in Kenntnis zu setzen. Wir übernehmen keine Gewähr für die Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen verursacht wurden, sind grundsätzlich ausgeschlossen. Die Schule, auf dessen Server diese Applikation läuft, kann weiters nicht gewährleisten, dass die online abrufbaren Dienste gewährleistet sind.
    Dieser Haftungsausschluss ist als Teil dieses Internetangebotes zu betrachten. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.</p>
<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Medieninhaber, Hersteller</div>
        <div class="collapsible-body"><span>
            <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Nils Brugger</span>
<p>First Line <br>
    nbrugger@student.tgm.ac.at
</p>
</li>
<li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Linus Dehner</span>
    <p>First Line <br>
        ldehner@student.tgm.ac.at
    </p>
</li>
<li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Ryan Foster</span>
    <p>First Line <br>
        rfoster@student.tgm.ac.at
    </p>

</li>
<li class="collection-item avatar">
    <i class="material-icons circle green">insert_chart</i>
    <span class="title">Tobias Schrottwieser</span>
    <p>First Line <br>
        tschrottwieser@student.tgm.ac.at
    </p>

</li>
</ul>
        </span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Kontaktdaten</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Webdesign und Webprogrammierung</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Grundlegende Richtung dieses Webportals</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Urheberrecht</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Haftungsausschluss</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>
