
<center>
    <h1 style="color: black">About Time-Planer</h1>
    <ul class="collapsible container" style="text-align: left">
    <li class="s11 m8">
        <div class="collapsible-header"><i class="material-icons">contacts</i>
            media-owner and manufacturer</div>
        <div class="collapsible-body"><span>
            <ul class="collection">
        <li class="collection-item avatar">
            <i class="material-icons circle green">account_circle</i>
            <span class="title"><b>Nils Brugger</b></span>
            <p>Backend-Developer</p>
        <a href="mailto:nbrugger@student.tgm.ac.at" class="secondary-content"><i class="material-icons">send</i></a>
</li>
<li class="collection-item avatar">
    <i class="material-icons circle green">account_circle</i>
    <span class="title"><b>Linus Dehner</b></span>
    <p>Frontend-Developer</p>
    <a href="mailto:ldehner@student.tgm.ac.at" class="secondary-content"><i class="material-icons">send</i></a>
</li>
<li class="collection-item avatar">
    <i class="material-icons circle green">account_circle</i>
    <span class="title"><b>Ryan Foster</b></span>
    <p>Frontend-Developer</p>
    <a href="mailto:rfoster@student.tgm.ac.at" class="secondary-content"><i class="material-icons">send</i></a>


</li>
<li class="collection-item avatar">
    <i class="material-icons circle green">account_circle</i>
    <span class="title left-align"><b>Tobias Schrottwieser</b></span>
    <p>Backend-Developer</p>
    <a href="mailto:tschrottwieser@student.tgm.ac.at" class="secondary-content"><i class="material-icons">send</i></a>


</li>
</ul>
        </span></div>
    </li>
<li class="s11 m8">
        <div class="collapsible-header"><i class="material-icons">contact_mail</i>
            contact details</div>
        <div class="collapsible-body"><span><a href="mailto:support@time-planer.com">Notify</a> developer-team of the platform.</span></div>
    </li>
<li class="s11 m8">
        <div class="collapsible-header"><i class="material-icons">style</i>
            web-design and web-programming</div>
        <div class="collapsible-body"><span>
The students<b> Nils Brugger</b>, <b> Linus Dehner</b>, <b> Ryan Foster </b> and <b> Tobias Schrottwieser </b > developed this platform as part of a semester project of the third grade of the TGM in 2019.

        </span></div>
    </li>
<li class="s11 m8">
        <div class="collapsible-header"><i class="material-icons">directions</i>
            basic direction of this web portal</div>
        <div class="collapsible-body"><span>

This website allows you to create a schedule and at the same time informs about it. The contents of these pages are protected by copyright and the information is intended for personal use only. Any further use, in particular the storage in databases, publication, duplication and any form of commercial use, as well as the passing on to third parties - also in parts or in revised form - without agreement of the development team is forbidden.
        </span></div>
    </li>
<li class="s11 m8">
        <div class="collapsible-header"><i class="material-icons">copyright</i>copyright</div>
        <div class="collapsible-body"><span>
            We strive to respect the copyrights of the content and media used. Should nevertheless be protected by a foreign copyrighted content, the copyright could not be determined by us. In the case of such unintentional copyright infringement, the corresponding object will be removed after notification or marked with the appropriate copyright.
        </span></div>
    </li>
<li class="s11 m8">
        <div class="collapsible-header"><i class="material-icons">gavel</i>disclaimer</div>
        <div class="collapsible-body"><span>
           We strive to keep the content up to date and correct. If you discover any errors or mistakes on the Site, we ask you to inform us. We do not guarantee the completeness or quality of the information provided. Liability claims that relate to material or immaterial nature caused by the use or non-use of the information presented are excluded. The school on whose server this application is running, furthermore, can not guarantee that the services available online are guaranteed.
    This disclaimer is to be regarded as part of this Internet offer. If sections or individual terms of this statement are not legal or correct, the content or validity of the other parts remain uninfluenced by this fact. </p>
        </span></div>
    </li>
<div class="row s11 m8 center-align">

    Imprint and disclosure according to media law (BGBl. No. 314/1981 i.d.g.F.) for the website <b><a href="http://time-planer.com">time-planer.com</a></b>
</div>
</ul>
</center>