<footer class="page-footer teal accent-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Information</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3 hand" href="#about">About Time-Planer</a></li>
                    <!-- <li><a class="grey-text text-lighten-3 hand" href="#">Conditions of Use</a></li> -->
                    <li><a class="grey-text text-lighten-3 hand" href="#priva">Privacy notice</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Let us help you</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3 hand" href="#bug">Report a bug</a></li>
                    <li><a class="grey-text text-lighten-3 hand" href="#supp">Support</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align">
            © 2019 Time Planer all rights reserved
        </div>
    </div>
</footer>