<div style="width: 20%; height: 500px; border: solid; border-radius: 25px; margin-left: 40%; margin-top: 10%;margin-bottom: 10%;">
    <h1 class="center-align">Vergessen</h1>
    <br>
    <div class="input-field col s6" style="margin-left: 20px; margin-right: 20px">
        <input id="mail" type="text" class="validate">
        <label for="mail">E-Mail</label>
    </div>

        <br>
        <br>
        <button class="btn waves-effect waves-light teal accent-4 center-align" type="button" id="log" name="action">Absenden             <!-- Login Funktion --->
            <i class="material-icons right">send</i>
        </button><
</div>