<header>
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Einzel</a></li>
    <li><a href="#!">Gruppe...</a></li>
    <li class="divider"></li>
    <li><a href="#!">Alle</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">W1</a></li>
    <li><a href="#!">W2</a></li>
    <li class="divider"></li>
    <li><a href="#!">W..</a></li>
</ul>
<nav class="headerbesonders">
    <div class="nav-wrapper teal accent-4">
        <a onclick="showHome()" class="brand-logo headerhover" style="margin-left: 15px">Time Planer</a>
        <ul class="right hide-on-med-and-down ">
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Ansicht<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Woche<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>
</header>