<div class="fixed-action-btn ">
    <a class="btn-floating btn-large cyan">
        <i class="material-icons z-depth-4">edit</i>
    </a>
    <ul>
        <li><a class="btn-floating red" id="out"><i class="material-icons">power_settings_new</i></a></li>
        <li><a class="btn-floating yellow darken-1" onclick="showSettings()"><i class="material-icons">settings</i></a></li>
        <li><a class="btn-floating blue" onclick="showGroups()"><i class="material-icons">group</i></a></li>
        <li><a class="btn-floating green"  onclick="showAdd()"><i class="material-icons">add_circle_outline</i></a></li>
    </ul>
</div>

<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <h1 id="name">Modulname</h1>
        <i class="medium material-icons" id="star1">star</i>
        <i class="medium material-icons" id="star2">star</i>
        <i class="medium material-icons" id="star3">star_half</i>
        <i class="medium material-icons" id="star4">star_border</i>
        <i class="medium material-icons" id="star5">star_border</i>
        <h5 id="ablauf">Ablaufdatum</h5>
        <h5 id="übrig">Tage übrig/Abgelaufen</h5>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Notizen</label>
                    </div>
                </div>
            </form>
        </div>
        <i class="small material-icons hand">notifications_active</i>
        <i class="small material-icons hand">notifications_off</i>
        <i id="del" class="small material-icons hand">delete_forever</i>
        <!-- Switch -->
        <div class="switch">
            <label>
                In Bearbeitung
                <input id="pro" type="checkbox">
                <span class="lever"></span>
                Abgeschlossen
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">DONE</a>
    </div>
</div>
<br>
<div class="style-4" id="taskholder"><br></div>
<br>
<script>//today();</script>