 <div id="login-div" class="z-depth-5">
        <h1 id="ueberschrift" class="center-align">Login</h1>
        <br>
        <div class="input-field col s6" style="margin-left: 20px; margin-right: 20px">
            <input id="username" type="text" class="validate">
            <label for="username">Username</label>
        </div>
        <div class="input-field col s6" style="margin-left: 20px; margin-right: 20px">
            <input id="pw" type="password" class="validate">
            <label for="pw">Passwort</label>
        </div>
        <a onclick="showRegister();" id="regis">Registrieren</a>
        <br>
        <a id="verg" >Passwort vergessen</a>
        <center>
            <br>
            <br>
            <button class="btn waves-effect waves-light teal accent-4 z-depth-5" type="button" id="log" name="action">Login             <!-- Login Funktion --->
                <i class="material-icons right">send</i>
            </button></center>
 </div>