<div id="log-cont" class="container">
    <div class="row">
        <div class="col s12 offset-m4 m4">
            <div id="login-div" class="z-depth-5 card">
                <div>
                    <h1 class="center-align card-action truncate">Login</h1>
                </div>
                <div class="card-content">
                    <div class="input-field" style="margin-left: 20px; margin-right: 20px">
                        <input id="username" type="text" class="validate">
                        <label for="username">E-Mail</label>
                    </div>
                    <div class="input-field" style="margin-left: 20px; margin-right: 20px">
                        <input id="pw" type="password" class="validate">
                        <label for="pw">Passwort</label>
                    </div>
                    <a onclick="showRegister();" id="regis" class="">Registrieren</a>
                    <a id="verg" class="">Hilfe</a>
                    <div class="input-field">
                        <button class="btn waves-effect waves-light teal accent-4 z-depth-4" type="button" id="log" name="action">
                            Login
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>