
<div style="width: 20%; height: 500px; border: solid; border-radius: 25px; margin-left: 40%; margin-top: 10%;margin-bottom: 10%;">
    <center><h1>Registrieren</h1></center>
    <br>
    <div class="input-field col s6" style="margin-left: 20px; margin-right: 20px">
        <input id="rname" type="text" class="validate">
        <label for="rname">Name</label>
    </div>
    <div class="input-field col s6" style="margin-left: 20px; margin-right: 20px">
        <input id="rmail" type="email" class="validate">
        <label for="rmail">E-Mail</label>
    </div>
    <div class="input-field col s6" style="margin-left: 20px; margin-right: 20px">
        <input id="pwr" type="password" class="validate">
        <label for="pwr">Passwort</label>
    </div>

    <center>
        <br>
        <br>
        <button class="btn waves-effect waves-light teal accent-4" type="button" id="reg" name="action">Registrieren             <!-- Login Funktion --->
            <i class="material-icons right">send</i>
        </button></center>
</div>