<form class="container valign-wrapper" id="form" action="/view/repsend.php" style="position: relative; color:white " method="get">
    <div class="row s12 m8">
        <center><h1 style="color: black">Report a bug</h1></center>
        <script>
                $('#sm').val(get_cookie("name"));
        </script>
        <input id="name" placeholder="name" type="text" name="wem" class="validate col s12 m12">
        <input style="color: black" placeholder="e-mai," id="sm" type="text" name="von" class="validate col s12 m12">
        <input id="b" placeholder="bug" type="text" name="betreff" class="validate col s12 m12">
        <textarea id="txt" placeholder="description" name="text" class="materialize-textarea col s12 m12"></textarea>
        <br><br>
        <button class="btn waves-effect waves-light col s12 m12" type="submit" value="Senden">send
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>