<form class="container valign-wrapper" id="form" action="send.php" style="position: relative; margin-top: 7%; color:white " method="post">
    <div class="row">
        <input id="name" placeholder="Vollständiger Name" type="text" name="wem" class="validate col s12 m8">
        <input id="sm" placeholder="E-Mail" type="text" name="von" class="validate col s12 m8">
        <input id="b" placeholder="Betreff" type="text" name="betreff" class="validate col s12 m8">
        <textarea id="txt" placeholder="Text" name="text" class="materialize-textarea col s12 m8"></textarea>
        <br><br>
        <button class="btn waves-effect waves-light col s12 m8" type="submit" value="Senden">Senden
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>