<div class="row grp-entry hand">
    <div class="col s12 grp z-depth-2">
        <div class='container'>
            <div class='row'>
                <span class="grp-uid"></span>
                <span class="grp-name col s6"></span>
                <span class="grey-text col s5"><span class="grp-memcount"></span>&nbsp;Members</span>
                <span class='right-align col s1 del-grp hand'><i class='material-icons'>delete</i></span>
                <span class="grey-text col s5"><span class="grp-memcount"></span>&nbsp;<span class="memb">Members</span></span>
                <span class='right-align col s1 del-grp'><i class='material-icons'>delete</i></span>
            </div>
        </div>
    </div>
</div>