<div class="fixed-action-btn ">
    <a class="btn-floating btn-large green">
        <i class="large material-icons teal accent-4 pulse">add</i>
    </a>
</div>
<center>
<ul class="collapsible container">
    <li>
        <div class="collapsible-header"><i class="material-icons">group</i>Meine Gruppen</div>
        <div class="collapsible-body" id="my-grp-holder">
            <div class="container grp-view component" name="my-grp-list">
            </div>
        </div>
        <span class="view" name="my-grp-list"></span>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">group</i>Besuchte Gruppen</div>
        <div class="collapsible-body container" id="membgrpholder">

        </div>
    </li>

    <li>
        <div class="collapsible-header"><i class=" material-icons">add</i>Add</div>
        <div class="collapsible-body" id="include-add-group">
            <span class="view" name="new"></span>
        </div>
    </li>
</ul>
</center>