<li class="grp-member-entry">
    <div class="collapsible-header">
        <i class="material-icons">person</i>
        <span class="grp-member-mail">test@gmail.com</span>
    </div>
    <div class="collapsible-body">
        <div class="switch">
            <label>
                <input type="checkbox" class="grp-member-create">
                <span class="lever"></span>
                Create
            </label>
        </div>
        <div class="switch">
            <label>
                <input type="checkbox" class="grp-member-edit">
                <span class="lever"></span>
                Edit
            </label>
        </div>
        <div class="switch">
            <label>
                <input type="checkbox" class="grp-member-del">
                <span class="lever"></span>
                Delete
            </label>
        </div>
    </div>
</li>