<div class="card">
    <div class="card-title center-align">create new group</div>
    <div class="card-content">
        <div class="container">
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <input id="group-name" type="text" class="validate">
                    <label for="group-name">name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <textarea class="materialize-textarea" id="group-desc"></textarea>
                    <label for="group-desc">description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 offset-m3">
                    <button class="btn waves-effect waves-light teal accent-4 z-depth-2" type="button"id="add-grp-btn" style="width: 100%;">
                        create
                        <i class="material-icons right">add</i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>