<header style="margin-bottom: 10px">
<ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">W1</a></li>
    <li><a href="#!">W2</a></li>
    <li class="divider"></li>
    <li><a href="#!">W..</a></li>
</ul>
<!-- Modal Structure -->
<div id="displayGrps" class="modal">
    <div class="modal-content">
        <h4>Ansicht</h4>
        <p>
            <label class="component grp-view-option" name="view-entry">
                <input type="checkbox" class="show-grp" checked="checked" />
                <span class="grp-name"></span>
            </label>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="save-grp-view">Save</a>
    </div>
</div>
<nav class="headerbesonders z-depth-0" style="margin-bottom: 64px">
    <div class="nav-wrapper teal accent-4 z-depth-0">
        <a onclick="weiterleit()" class="brand-logo headerhover" style="margin-left: 15px">Time Planer</a>
        <ul class="right disabled-hide-on-med-and-down ">
            <li><a class="waves-effect waves-light btn modal-trigger" href="#displayGrps">Ansicht</a></li>
            <li><a class="dropdown-trigger" href="" data-target="dropdown2">Woche<i class="material-icons right">arrow_drop_down</i></a></li>
            <li style="width: 120px" class="center-align"><a class="dropdown-trigger" data-target="dropdownuser"><i class="material-icons">account_circle</i></a></li>
        </ul>
    </div>
</nav>

    <ul id="dropdownuser" class="dropdown-content center-align" style="width: 120px">
        <li style="width: 120px"><a class="" onclick="showGroups()">Gruppen</a></li>
        <li style="width: 120px"><a class="" onclick="showSettings()">Einstellungen</a></li>
        <li style="width: 120px"><a class="" id="out">Abmelden</a></li>
    </ul>
</header>
<!--

<i class="material-icons">power_settings_new</i>
<i class="material-icons">settings</i>
<i class="material-icons">group</i>

-->