<header style="margin-bottom: 10px">

<!-- Modal Structure -->
<div id="displayGrps" class="modal">
    <div class="modal-content">
        <h4>Ansicht</h4>
        <p>
            <label class="component grp-view-option" name="view-entry">
                <input type="checkbox" class="show-grp" checked="checked" />
                <span class="grp-name"></span>
                <span class="grp-uid"></span>
            </label>
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="save-grp-view">Save</a>
    </div>
</div>
<nav class="headerbesonders z-depth-0" style="margin-bottom: 64px">
    <div class="nav-wrapper teal accent-4 z-depth-0">
        <a href="#home" class="brand-logo headerhover" style="margin-left: 15px">Time Planer</a>
        <a href="#home" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light modal-trigger" href="#displayGrps">View</a></li>
            <li><a href="#groups" class="hand">Groups</a></li>
            <li><a href="#addtask" class="hand">New Task</a></li>
            <li style="width: 120px; z-index: 12" class="center-align"><a class="dropdown-trigger" data-target="dropdownuser"><i class="material-icons">account_circle</i></a></li>
        </ul>
        <ul class="right disabled-hide-on-med-and-down ">

        </ul>
    </div>
    <div class="nav-content teal accent-4">
        <ul class="tabs tabs-transparent">
            <!-- <li class="tab"><a  href="#home">Home</a></li> -->
            <li id="tasktab2" class="tab"><a id="tasktab" href="#taskholder">Tasks</a></li>
            <li id="listetab2" class="tab"><a id="listetab" href="#liste">List</a></li>
        </ul>
    </div>
</nav>
    <script>
        var ret;
        ret = 0;
        if (isMobile.Android() || isMobile.BlackBerry() || isMobile.Opera() || isMobile.Windows()) {
            ret = 1;
        }
        if(isMobile.iOS()){
            ret = 2;
        }
        switch (ret) {
            case 0:
                $("#tasktab").addClass("active");
                break;
            case 1:
                $("#listetab").addClass("active");
                break;
            case 2:
                $("#listetab").addClass("active");
                break;
            default:
                $("#tasktab").addClass("active");
        }
    </script>

    <ul class="sidenav right" id="mobile-demo">
        <li><a class="waves-effect waves-light modal-trigger" href="#displayGrps">View</a></li>
        <li><a href="#groups" class="hand sidenav-close">Groups</a></li>
        <li><a href="#addtask" class="hand sidenav-close">New Task</a></li>
        <li><a class="dropdown-trigger" data-target="dropdownuser2">User</a></li>
    </ul>
<script>

</script>
    <ul id="dropdownuser" class="dropdown-content center-align" style="width: 120px; z-index: 12">
        <!-- <li style="width: 120px"><a class="" onclick="showGroups()">Gruppen</a></li> -->
        <li style="width: 120px"><a class="" href="#settings">Settings</a></li>
        <li style="width: 120px"><a class="out">Logout</a></li>
    </ul>

    <ul id="dropdownuser2" class="dropdown-content center-align" style="width: 100%; z-index: 12">
        <li style="width: 100%"><a class="sidenav-close" href="#settings">Settings</a></li>
        <li style="width: 100%"><a class="out red-text sidenav-close">Logout</a></li>
    </ul>
</header>
<!--

<i class="material-icons">power_settings_new</i>
<i class="material-icons">settings</i>
<i class="material-icons">group</i>

-->